@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-decoration: none;
    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background: linear-gradient(#2b1055,#7597de);
}

body::-webkit-scrollbar {
    display: none;
}

header
{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 40;
}

header ul
{
    display: none;
}

header ul.active
{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(2, 9, 18, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 0em;
}

header ul li a
{
    font-size: 1.25em;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    margin: 1em 0em;
    padding: 6px 15px;
    display: inline-block;
    border-radius: 20px;
    transition: 0.5s;
}

header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}

h1
{
    position: absolute;
    color: #fff;
    font-size: 6em;
    line-height: 1;
    text-align: center;
    text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-90px);
    z-index: 10;
}

a img
{
    position: relative;
    top: 0; left: 0;
    width: 64px;
    height: 64px;
}

nav
{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url('Pictures/Menu Interface/01.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 30;
}

nav.active
{
    position: fixed;
    top: 30px; right: 20px;
    background: url('Pictures/Menu Interface/02.png');
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;  
}

figure
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #020912, transparent);
    z-index: 40;
}

figure img
{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}

figure img#img04,
figure img#img07,
figure img#img09,
figure img#img11,
figure img#img13
{
    mix-blend-mode: screen;
}

main
{
    position: relative;
    background: #020912;
    padding: 3em 6em 0em;
    z-index: 20;
}

main h2
{
    font-size: 2em;
    font-weight: 600;
    color: #fff;
    margin: 0.5em 0em;
}

main h3
{
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
    margin: 0.5em 0em;
}

main p
{
    font-size: 1.25em;
    font-weight: 300;
    color: #fff;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    word-spacing: -1px;
}

section
{
    padding-top: 1em;
}

section.subsection
{
    padding-top: 0em;
}

article.inbetween
{
    margin-bottom: 1em;
}

article.creatures
{
    display: flex;
    align-items: center;
}

article img
{
    width: 25%;
    margin-right: 0.75em;
}

article p
{
    flex: 1;
}

video
{
    width: 50%;
    height: 50%;
    aspect-ratio: 16/9;
}

details p
{
    padding-top: 10px;
}

summary
{
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    word-spacing: -1px;
    border-bottom: 2px solid #ccc;  
}

#section02 p
{
    color: #ccc;
}

#btn01
{
    position: fixed;
    bottom: 20px; right: 20px;
    background: #fff;
    padding: 0.75em;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-out;
    z-index: 50;
}

#btn01 span
{
    font-size: 1.5em;
    color: #412284;
    transition: 0.3s ease-out;   
}

#btn01:hover
{
    background: #aab4c8;
}

#btn01:hover span
{
    transform: translateY(3px);
}

.trailer
{
    position: relative;
    width: 100%;
    margin: 1.5em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate
{
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
}

@media only screen and (min-width:320px)
{
    h1
    {
        font-size: 3.5em; 
    }
}

@media only screen and (min-width:425px)
{
    h1
    {
        font-size: 4.5em;
    }
}

@media only screen and (min-width:990px)
{
    h1
    {
        font-size: 6em;
        transform: translateY(-130px);
    }
}

@media only screen and (max-width:1024px)
{
    body.no-scroll
    {
        overflow-y: hidden;
    }

    header
    {
        padding: 20px;
    }

    header .logo
    {
        font-size: 1.5em;
    }

    main
    {
        padding: 3em 1.5em 0em;
    }

    main h2
    {
        font-size: 1.5em;
    }

    main h3
    {
        font-size: 1.25em;
    }

    article.creatures
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    article img
    {
        width: 75%;
        margin-bottom: 1em;
    }

    video
    {
        width: 100%;
        height: 100%;
    }
}